<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div>
    <div class="container button__container">
    <a href="/shows/">class="btn btn-primary">Shows</a>
</div>
    <h2><a href="/shows/{{ show.id }}/">{{ show.title }}</a></h2>
    <p>{{ show.description }}</p>
    <img src="{{ show.image.url }}" alt="">
    <p>{{ show.quatity }}</p>
    <p>{{ show.genre }}  </p>
    <p>{{ show.date.filmed }}</p>
</div>
    <div class="card-body body__button">
        <button type="button" class="btn-primary"><a href="/shows/{{ show.id }}/update/">Chage</a></button>
        <button type="button" class="btn btn-primary"><a href="/shows/">Delete</a></button>
    </div>
</body>
</html>